header, main, footer {
  padding-left: 300px;
  }
  
@media only screen and (max-width : 992px) {
  header, main, footer {
  padding-left: 0;
}
  }
  

  .firstcard .card-panel{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
  }
  
  .secondcard .card-panel{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
  }

  .thirdcard .card-panel{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
  }
  
  .fourthcard .card-panel{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
  }